from flask import Flask, render_template_string, request, redirect

app = Flask(__name__)

reportes = []

html = """

<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">
<title>Comunidad Reporta</title>

<style>

body{
font-family:Arial;
background:#eef2f7;
padding:40px;
}

.container{
max-width:800px;
margin:auto;
background:white;
padding:30px;
border-radius:15px;
}

input, textarea, select{
width:100%;
padding:10px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:10px;
background:#1d3557;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.card{
background:#f8f8f8;
padding:15px;
margin-top:20px;
border-left:5px solid #1d3557;
border-radius:10px;
}

</style>

</head>

<body>

<div class="container">

<h1>📍 Comunidad Reporta</h1>

<form action="/crear" method="post">

<input type="text" name="titulo" placeholder="Título" required>

<textarea name="descripcion" placeholder="Descripción" required></textarea>

<input type="text" name="ubicacion" placeholder="Ubicación" required>

<select name="estado">

<option>Pendiente</option>
<option>Resuelto</option>

</select>

<button type="submit">
Crear Reporte
</button>

</form>

{% for r in reportes %}

<div class="card">

<h3>🚨 {{r.titulo}}</h3>

<p>{{r.descripcion}}</p>

<p><b>📍 Ubicación:</b> {{r.ubicacion}}</p>

<p><b>Estado:</b> {{r.estado}}</p>

</div>

{% endfor %}

</div>

</body>
</html>

"""

@app.route("/")
def inicio():
    return render_template_string(html, reportes=reportes)

@app.route("/crear", methods=["POST"])
def crear():

    reporte = {

        "titulo": request.form["titulo"],
        "descripcion": request.form["descripcion"],
        "ubicacion": request.form["ubicacion"],
        "estado": request.form["estado"]

    }

    reportes.append(reporte)

    return redirect("/")

app.run(debug=True)